@media (max-width: 1439px) {
    .consult {
        &__container {
            max-width: 1216px;
        }
    }
    .learn {
        &__container {
            justify-content: space-around;
        }
        &__info {
            width: 400px;
        }
        &__title {
            font-size: 34px;
        }
        &__svg {
            right: -40px;
        }
    }
}

@media (max-width: 1216px) {
    .container {
        max-width: 960px;
    }
    .for {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
        &__card {

            &.horizontal {
                grid-column: 1 / 3;
            }
        }
    } 
    .market {
        &__content {
            grid-template-columns: 300px 540px;
        }
        &__cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .accelerator {
        &__cards {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .result {
        &__grid {
            grid-template-columns: repeat(3, 1fr);
        }
        &__card {
            padding: 35px 30px 0;
        }
    }
    .price {
        &__contents {
            justify-content: center;
            grid-template-columns: repeat(2, 392px);
            gap: 20px;
        }
    }
    .expert {
        &__items {
            overflow: hidden;
            padding: 0;
            justify-content: normal;
            gap: 68px;
            &-arrow {
                display: none;
            }
        }
        &__arrows {
            display: flex;
        }
    }
    .partner {
        &__wrapper {
            grid-template-columns: repeat(3, 288px);
            grid-auto-rows: 100px;
            justify-content: center;
        }
    }
    .community {
        &__title {
            width: 100%;
        }
        &__desc {
            width: 100%;
        }
    }
    .event {
        &__wrapper {
            grid-template-columns: repeat(3, 1fr);
        }
        &__block {
            padding: 20px 15px 25px;
        }

    }
}

@media (max-width: 992px) {
    .container {
        max-width: 728px;
    }
    .title {
        font-size: 32px;
    }
    .card {
        &__number {
            font-size: 64px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__desc {
            font-size: 14px;
        }
    }
    .header {
        .logo {
            font-size: 20px;
        }
        &__link {
            font-size: 16px;
        }
        .btn {
            width: 109px;
            font-size: 16px;
        }
    }
    .hero {
        height: calc(1140px - 67.33px);
        padding-top: 308px;
        text-align: center;
        &__title {
            width: 651px;
            font-size: 36px;
            margin: 0 auto;
        }
        &__subtitle {
            display: none;
        }
        &__start-title {
            display: block;
        }
        .btn {
            margin-top: 15px;
            height: 71px;
            width: 235px;
        }
    }
    .service {
        padding-top: 100px;
        text-align: center;
        &__title {
            margin-bottom: 20px;
        }
        &__block {
            flex-direction: column;
            align-items: center;
            padding-bottom: 5px;
            &:not(:last-child) {
                margin-bottom: 50px;
                flex-direction: column-reverse;
            }
        }
        &__img {
            height: 249px;
            width: 386px;
            margin-bottom: 20px;
            img {
                width: 100%;
                height: 100%;
            }   
        }
        &__subtitle {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 20px;
        }
        &__desc {
            font-size: 16px;
            margin-bottom: 25px;
        }
    }
    .for {
        &__title {
            text-align: center;
        }
        &__grid {
            margin-top: 20px;
            grid-template-rows: 348px;
        }
        &__card {
            padding: 30px 27px 30px;
        }
        &__subtitle {
            margin-bottom: 10px;
        }
    }
    .consult {
        padding: 118px 0 121px;
        &__title {
            font-size: 36px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 30px;
            margin: 20px 0 23px;
        }
        &__btn {
            font-size: 18px;
            width: 310px;
            height: 73.81px;
        }
    }
    .market {
        &__title {
            margin-bottom: 20px;
            text-align: center;
        }
        &__tabs {
            margin-bottom: 45px;
            height: 70px;
        }
        &__tab {
            font-size: 14px;
            line-height: 70px;
        }
        &__content {
            grid-template-columns: 331px 397px;
            gap: 0;
        }
        &__info {
            padding-top: 0;
            &-title {
                margin-bottom: 17px;
                font-weight: 600;
                font-size: 24px;
                line-height: 34.5px;
            }
            &-text {
                font-size: 14px;
                margin-bottom: 17px;
            }
            &-block {
                display: flex;
                flex-direction: column-reverse;
            }
        }
        &__cards {
            padding-top: 24px;
            grid-template-rows: repeat(2, 133px);
            gap: 9px;
        }
        &__card {
            padding-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-load {
                .market__card-text {
                    margin-top: 15px;
                    font-size: 14px;    
                }
            }
            &-title {
                font-size: 36px;
            }
            &-subtitle {
                font-size: 20px;
            }
        }
        &__btn {
            margin: 22px 0 0;
        }
    }
    .accelerator {
        &__title {
            text-align: center;
            margin-bottom: 0;
        }
        &__subtitle {
            font-size: 16px;
            text-align: center;
        }
        &__card {
            padding: 0px 40px;
            &:first-child {
                padding-top: 47px;
                justify-content:flex-start;
            }
            &-number {
                margin-bottom: 20px;
                line-height: 119px;
                font-size: 98px;
            }
            &-text {
                text-align: center;
                font-size: 16px;
                line-height: 19px;
            }
        }
        &__video {
            height: 345px;
            padding: 90px 0;
            &-title {
                margin-top: 0;
                font-size: 18px;
                line-height: 28px;
                text-align: center;
            }
            &-play {
                margin-top: 20px;
                width: 89px;
                height: 89px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }


    }
    .program {
        &__title {
            text-align: center;
        }
        &__modul {
            height: 76px;
            padding: 0 31px;
            display: flex;
            justify-content: space-between;
            &_active {
                .program__modul-number {
                    margin-right: 0;
                }
                .program__modul-img {
                    margin-left: 0;
                }
            }
            &-text {
                display: flex;
                align-items: center;
                padding: 0 30px;
                line-height: 25px;
                font-size: 14px;
            }
            &-number {
                width: 96px;
                font-size: 16px;
                margin-right: 25px;
            }
            &-title {
                font-size: 16px;
                line-height: 20px;
                text-align: center;
            }
            &-weeks {
                display: block;
            }
            &-img {
                position: static;
                margin-left: 25px;
            }
        }
    }
    .result {
        &__title {
            text-align: center;
            margin-bottom: 20px;
        }
        &__card {
            padding: 15px 7px;
        }
        &__number {
            font-size: 64px;
        }
        &__subtitle {
            font-size: 10px;
        }
        &__desc {
            font-size: 10px;
        }

    }
    .price {
        &__title {
            text-align: center;
            margin-bottom: 20px;
        }
        &__contents {
            grid-template-columns: repeat(2, 1fr);
        }
        &__content {
            padding: 20px 32px 25px;
            &-img {
                padding-bottom: 21px;
            }
            &-title {
                font-size: 18px;
            }
            &-subtitle {
                font-size: 16px;
            }
            &-lists {
                font-size: 14px;
            }
            &-text_b {
                font-size: 16px;
            }
            &-text {
                font-size: 14px;
            }
            &-price {
                font-size: 16px;
            }
        }
        &__btn {
            width: 288px;
        }
    }
    .about {
        &__title {
            text-align: center;
            margin-bottom: 20px;
        }
        &__top {
            flex-direction: column;
            align-items: center;
            &-img {
                width: 345px;
                padding-bottom: 0;
                height: 270px;
                margin-bottom: 25px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &-desc {
                display: none;
                &-768 {                    
                display: block;
                text-align: center;
                padding: 0 69px;
                width: 100%;
                margin: 0;
                font-weight: 600;
                line-height: 30px;
                font-size: 18px;
                & span {
                    color: #1178B2;
                }
                }
            }
        }
        &__bottom {
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            padding: 0;
            &-desc {
                margin: 0 auto;
                padding: 0;
                width: 579px;
            }
            &-text {
                font-style: normal;
                text-align: center;
                margin-bottom: 38px;
            }
            &-img {
                margin: 0 auto;
                width: 356px;
                height: 401px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &-author {
                position: absolute;
                bottom: 35px;
                left: 30px;
            }
        }
        &__container {
            max-width: 100%;
        }
    }
}